* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
}

.image {
    background: url(background.jpg);
    background-position: center;
    background-size: cover;
    width: 25%;
    height: 100%;
}

.form {
    width: 75%;
    height: 100%;
    background: rgb(30, 25, 39);
}
