@import url("https://fonts.googleapis.com/css2?family=New+Rocker&display=swap");

:root {
    /* image side */
    --logo-container-height: 123px;
    --logo-container-background: rgba(0, 0, 0, 0.4);
    --background-width: 712px;
    --circle-border: 7px solid #676767;
    --circle-letter-size: 70px;
    --circle-height: 100px;
    --circle-width: 100px;

    /* form side */
    --form-side-width: calc(100% - var(--background-width));
    --description-text-size: 55px;
    --form-container-width: 1209px;
    --form-container-height: 418px;
    --form-container-shadow: 0px 0px 10px #157e7e;
    --form-header: 40px;
    --form-label-text-size: 22px;
    --form-input-width: 278px;
    --form-input-height: 36px;
    --form-input-background: #0b3434;
    --create-account-button-width: 283px;
    --create-account-button-height: 63px;
    --create-account-text-padding: 13px 44px;
    --create-account-login-text-size: 30px;
    --login-text-color: #157e7e;
    --login-text-color-hover: #0a4747;

    /* distances */
    --between-logo-container-top: 117px;
    --between-description-form-container: 120px;
    --between-button-form-container: 48px;
    --between-circle-logo-text: 10px;
}

* {
    box-sizing: border-box;
    font-family: "New Rocker";
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    color: #fff;
}

.image {
    background: url(background.jpg);
    background-position: center;
    background-size: cover;
    width: var(--background-width);
}

.form {
    width: 75%;
    height: 100%;
    background: rgb(30, 25, 39);
}

.logo {
    background: var(--logo-container-background);
    width: var(--background-width);
    height: var(--logo-container-height);
    margin-top: var(--between-logo-container-top);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo .logo-circle {
    width: var(--circle-width);
    height: var(--circle-height);
    margin-right: var(--between-circle-logo-text);
    display: grid;
    place-items: center;
    padding-bottom: 10px;
    border: var(--circle-border);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.logo img {
    margin-top: 0.6em;
}
